{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block breadcrumb %}Formations › {{ title }}{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{ title }}</h1>
    <a href="{{ path('formation_index') }}" class="btn btn-outline">← Retour</a>
</div>

<div class="ag-card">
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="form-grid cols-2">
        <div class="col-span-2">{{ form_row(form.titre) }}</div>
        <div>{{ form_row(form.domaine) }}</div>
        <div>{{ form_row(form.niveau) }}</div>
        <div class="col-span-2">{{ form_row(form.description) }}</div>
        <div>{{ form_row(form.dureeHeures) }}</div>
        <div>{{ form_row(form.prix) }}</div>
        <div>{{ form_row(form.dateCreation) }}</div>
        <div>{{ form_row(form.statut) }}</div>
    </div>

    <div class="form-actions">
        <button class="btn btn-green">💾 Enregistrer</button>
        <a href="{{ path('formation_index') }}" class="btn btn-outline">Annuler</a>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
