{% extends 'parcelle/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="page-panel reveal">
    <div class="section-head">
        <div>
            <div class="section-kicker"><i class="bi bi-calendar-plus"></i> Evenement</div>
            <h1 class="page-title reveal-text">{{ title }}</h1>
        </div>
        <a href="{{ path('evenement_index') }}" class="button-secondary">Retour</a>
    </div>

    <div class="form-shell">
        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        <div class="row g-3">
            <div class="col-12">{{ form_row(form.formation) }}</div>
            <div class="col-md-6">{{ form_row(form.dateDebut) }}</div>
            <div class="col-md-6">{{ form_row(form.dateFin) }}</div>
            <div class="col-md-6">{{ form_row(form.lieu) }}</div>
            <div class="col-md-6">{{ form_row(form.type) }}</div>
            <div class="col-md-4">{{ form_row(form.capaciteMax) }}</div>
            <div class="col-md-4">{{ form_row(form.nombreInscrits) }}</div>
            <div class="col-md-4">{{ form_row(form.statut) }}</div>
        </div>

        <div class="stack-sm mt-4">
            <button class="button-primary" type="submit">Enregistrer</button>
            <a href="{{ path('evenement_index') }}" class="button-secondary">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
